/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    margin: 0;
    height: 100%;
}

#google-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    position: relative;
}
#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 27.5%;
    position: relative;
    flex-shrink: 0;
}
#buttons-area{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 30%;
    position: relative;
    padding: 0px 40% 0px 40%;
    width: 20%;
}
#search-box{
    display: flex;
    justify-content: flex-start;
    border-radius:24px;
    border: solid;
    border-color: rgb(236, 236, 236);
    width:600px;
    height: 20px;
    flex-shrink: 0;
    border-width: 1px;
    padding:10px;
}
#input-box{
    border: 0;
    width:90%;
    outline:none;
}
.buttons {
    background-color: rgb(246, 246, 246);
    border: none;
    color: #202124;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid;
    border-color: rgb(240, 240, 240);
    border-radius: 0px;
    border-width: 1px;
    margin: 0px 1% 0px 1%;
    width:150px;
    height: 40px;
    flex-shrink: 0;
    font-size: 15px;
}

.buttons:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #d4d4d4;
    border: 1px solid #dadce0;
    color: #202124;
}

#header{
    display: flex;
    top: 0px;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
}

#google-products-link, #profile-pic, .header-text{
    width: 16px;
    height: 16px;
    padding: 5px;
    margin-top: -5px;
    color: black;
}
.header-items, .footer-items{
    margin: 20px 0px 20px 0px;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}
#google-products-link:hover, #profile-pic:hover{
    background-color: rgb(235, 235, 235);
}

.header-text:hover{
    text-decoration: underline;
}

.header-items, .buttons{
    font-family: arial, sans-serif;
}

#footer{
    display: flex;
    justify-content: flex-start;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #f2f2f2;
    padding: 10px 0 5px 0;
    border-top: 1px solid #dadce0;
}

#left-footer{
    width: 75%;
}

#right-footer{
    width:25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-items{
    height: 20px; 
    color:rgb(99, 99, 99);
    padding-left: 25px;
}

.footer-items:hover{
    text-decoration: underline;
}

#settings-button{
    border: 0;
    margin-top: 16px;
    padding-top: 0;
}

#location-area{
    display: flex;
    justify-content: flex-start;
    bottom: 41px;
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #f2f2f2;
    padding: 10px 0 5px 0;
}
#location-indicator{
    padding-top: 0;
    padding-bottom: 0;
}
#location-indicator:hover{
    text-decoration: none;
}